<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="vs:EnableBrowserLink" value="false"/>
  <add key="ConfigFile" value="~/App_Data/Config.xml"/>

  <!--网站授权设置 用户Email，以‘|’隔开-->
  <add key="AuthUser" value="xiaojunling"/>

  <!--数据库访问系统日志:BEGIN-->
  <!--数据库访问系统日志开关-->
  <add key="DBLog_Enable" value="true"/>
  <!--数据库访问系统日志路径-->
  <add key="DBLog_Path" value="D:\EBS\Log\Dblog"/>
  <!--数据库访问系统日志:END-->

  <!--登录:BEGIN-->
  <!--登录：Cookie域名-->
  <add key="COOKIE_DOMAIN" value="192.168.174.225"/>
  <!--登录：Cookie名-->
  <add key="COOKIE_NAME" value="trans_us"/>
  <!--登录：登录页面-->
  <add key="LOGIN_PAGE" value="Login.aspx"/>
  <!--登录：DES—KEY-->
  <add key="COOKIE_DESKEY" value="TRANSKEY"/>
  <!--登录：DES—IV-->
  <add key="COOKIE_DESIV" value="TRANS_IV"/>
  <!--登录:END-->
</appSettings>