<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add connectionString="Data Source=192.168.174.225;Initial Catalog=FileSync;UID=sa;PWD=123456;" name="LogConnStr"/>
  <add connectionString="Data Source=192.168.174.225;Initial Catalog=FileSync;UID=sa;PWD=123456;" name="TRANS_READ"/>
  <add connectionString="Data Source=192.168.174.225;Initial Catalog=FileSync;UID=sa;PWD=123456;" name="TRANS_WRITE"/>

  <!--<add connectionString="Data Source=123.103.37.53;Initial Catalog=trans_home;UID=trans_home_w;PWD=ye6Mfcr4;" name="LogConnStr"/>
  <add connectionString="Data Source=123.103.37.53;Initial Catalog=trans_home;UID=trans_home_w;PWD=ye6Mfcr4;" name="TRANS_READ"/>
  <add connectionString="Data Source=123.103.37.53;Initial Catalog=trans_home;UID=trans_home_w;PWD=ye6Mfcr4;" name="TRANS_WRITE"/>-->

</connectionStrings>