<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings configSource="Connection.config"></connectionStrings>
  <appSettings configSource="AppSettings.config"></appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <customErrors mode="Off"/>
    </system.web>
</configuration>